body, html { overflow: hidden; }

html {
	background: #fff;
	background:    -moz-radial-gradient(center, ellipse cover, #fff 0%, #dddddd 100%);
	background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, #fff), color-stop(100%, #ddd));
	background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #ddd 100%);
	background: 	 -o-radial-gradient(center, ellipse cover, #fff 0%, #ddd 100%);
	background: 	-ms-radial-gradient(center, ellipse cover, #fff 0%, #ddd 100%);
	background: 		radial-gradient(ellipse at center, #fff 0%, #ddd 100%);
	color: #222;
	font: 1em/1 Arial, 'sl_gothic', sans-serif;
	height: 100%;
}

body { height: 100%; }

#container {
	height: 86%;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 3;
}


	#metro,
	#companies { height: 70%; }
	
	#news,
	#contact { height: 30%; }
	
	#container .col {
		float: left;
		padding: 20px;
		width: 50%;
	}
	
		h2 {
			font-size: 1rem;
			font-weight: normal;
			letter-spacing: .6px;
			margin: 0 0 10px;
			text-transform: uppercase;
		}
	
	#metro .wrap {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		font-family: 'sl_gothic', sans-serif;
		height: 100%;
	}

	.departure {
		float: left;
		position: relative;
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		width: 100%;
	}
	
	.departure,
	#companies li { border-bottom: 1px solid #ccc; }
	
		.departure:first-child,
		#companies li:first-child { border-top: 1px solid #ccc; }
	
		.departure > * {
			float: left;
		}
		
		.departure .icon {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 40px;
			bottom: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 40px;
		}
			
			.departure .icon.metro.green	{ background-image: url(../Images/t-green.svg); }
			.departure .icon.metro.blue		{ background-image: url(../Images/t-blue.svg); }
			.departure .icon.metro.red		{ background-image: url(../Images/t-red.svg); }
			.departure .icon.bus.blue		{ background-image: url(../Images/b-bus.svg); }
			.departure .icon.bus.red		{ background-image: url(../Images/r-bus.svg); }
			.departure .icon.train			{ background-image: url(../Images/train.svg); }
			.departure .icon.tram			{ background-image: url(../Images/tram.svg); }
			.departure .icon.ship			{ background-image: url(../Images/ship.svg); }
		
		.departure .destination {
			font-size: 1.2rem;
			left: 55px;
			margin-top: -20px;
			position: absolute;
			top: 50%;
		}
		
		.departure .time {
			color: #444;
			font-size: 1.2rem;
			height: 22px;
			line-height: 22px;
			margin-top: -11px;
			position: absolute;
			right: 0;
			top: 50%;
		}
		
		.departure .from {
			bottom: 50%;
			font-size: .9rem;
			left: 55px;
			margin-bottom: -20px;
			position: absolute;
		}
		
	#companies ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
		#companies li {
			line-height: 20px;
			padding: 0 0 10px;
		}
		
			#companies .floor { float: right; }
		
			#companies img { height: 15px; }

header,
footer {
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .02);
	height: 7%;
	opacity: .7;
}

header,
footer {
	background: #fff;
	position: relative;
	z-index: 3;
}

footer { font-size: 0; }

	header h1 {
		font-size: 1.2rem;
		font-weight: normal;
		letter-spacing: 1px;
		margin: 0;
		text-transform: uppercase;
	}
	
	header h1,
	#logo {
		left: 50%;
		position: absolute;
		-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		top: 50%;
	}

		#logo img { height: 14px; }

#loader {
	background: url(../Images/loader.gif);
	background-size: cover;
	height: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	opacity: 1;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.4s ease-in-out;
			transition: opacity 0.4s ease-in-out;
	width: 30px;
	z-index: 4;
}

	#loader.hidden { opacity: 0; }
	
#map-canvas {
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
			transition: opacity 0.4s ease-in-out;
	width: 100%;
	z-index: 1;
}

	#map-canvas.ready { opacity: .2; }
	
	#map-canvas:after {
		bottom: 0;
		content: "";
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}

@font-face {
  font-family: 'sl_gothic';
  src: url("fonts/slgothictext-regular-webfont.eot");
  src: url("fonts/slgothictext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/slgothictext-regular-webfont.woff") format("woff"), url("fonts/slgothictext-regular-webfont.ttf") format("truetype"), url("fonts/slgothictext-regular-webfont.svg#sl_gothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width : 571px) {
	/* Tablet */
}

@media only screen and (min-width : 1025px) {
	/* Desktop */
}