<a href="http://www.hiq.se" id="logo" target="_blank"><img src="Images/hiq.svg?v=1"></a>

<section id="container" class="wrap clearfix in" role="main"></section>

<div id="map-canvas"></div>

<div id="loader"></div>